__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

.venv/
env/
venv/

.vscode/
.idea/
*.iml

.pytest_cache/
.cache/

.streamlit/
**/.streamlit/cache/
**/.streamlit_cache/

.ipynb_checkpoints/

*.log
*.tmp

.DS_Store
Thumbs.db
desktop.ini
